@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;1,100&display=swap');

/* Normalize */
body {
  font-family: 'Poppins', sans-serif;
  background-color: black;
  margin: 0;
  padding: 0;
}

h6, p {
  margin: 0;
}

input {
  border: none;
}

